div.head-body div.nav div.navc {
    height: 382px;
}

#slide {
    float: right;
    width: 896px;
    overflow: hidden;
    _zoom: 1;
    position: relative;
}

    #slide div.in {
        width: 100%;
        overflow: hidden;
        _zoom: 1;
    }

        #slide div.in div.move {
            overflow: visible;
            white-space: nowrap;
            position: relative;
        }

            #slide div.in div.move a {
                display: inline-block;
                _display: inline;
                _zoom: 1;
                width: 896px;
                height: 338px;
                padding: 0px;
                margin: 0px;
                text-decoration: none;
                overflow: hidden;
            }

                #slide div.in div.move a img {
                    width: 100%;
                    height: 100%;
                    border: none;
                    margin: 0px;
                }

    #slide div.nav-outer {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 20px;
        text-align: center;
    }

        #slide div.nav-outer span.o {
            display: inline-block;
            _display: inline;
            _zoom: 1;
            position: relative;
        }

        #slide div.nav-outer span.i {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #fff;
            opacity: 0.3;
            filter: alpha(opacity=30);
            border-radius: 10px;
            z-index: 1;
        }

        #slide div.nav-outer span.nav {
            padding: 2px;
            position: relative;
            z-index: 2;
        }

        #slide div.nav-outer a {
            background-position: center center;
            width: 12px;
            height: 12px;
            display: inline-block;
            _display: inline;
            _zoom: 1;
            margin: 2px;
            background-image: url('slide-nav-flag.png');
            background-repeat: no-repeat;
            _background-image: none;
            _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-kefu.png',sizingMethod='scale');
            vertical-align: middle;
            opacity: 0.5;
            filter: alpha(opacity=50);
            cursor: pointer;
        }

            #slide div.nav-outer a.current {
                opacity: 1;
                filter: alpha(opacity=100);
            }

    #slide div.nav-btn {
        position: absolute;
        top: 140px;
        overflow: hidden;
        _zoom: 1;
        width: 100%;
        display: none;
    }

        #slide div.nav-btn a {
            display: block;
            width: 37px;
            height: 37px;
            position: relative;
            cursor: pointer;
        }

            #slide div.nav-btn a.pre {
                float: left;
            }

            #slide div.nav-btn a.next {
                float: right;
            }

            #slide div.nav-btn a span.f {
                position: relative;
                z-index: 2;
                display: block;
                width: 100%;
                height: 100%;
            }

            #slide div.nav-btn a span.b {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                display: block;
                _zoom: 1;
                background-color: #000;
                opacity: 0;
                filter: alpha(opacity=0);
                left: 0px;
                top: 0px;
            }

            #slide div.nav-btn a.pre span.f {
                background-image: url('slide-btn-pre.gif');
                background-position: center center;
                background-repeat: no-repeat;
            }

            #slide div.nav-btn a.next span.f {
                background-image: url('slide-btn-next.gif');
                background-position: center center;
                background-repeat: no-repeat;
            }

    #slide.hover div.nav-btn {
        display: block;
    }

        #slide.hover div.nav-btn a span.b {
            opacity: 0.4;
            filter: alpha(opacity=40);
        }

    #slide div.nav-btn a.hover span.b {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

div.index-cat {
    overflow: hidden;
    _zoom: 1;
}

    div.index-cat div.title {
        font-size: 26px;
        padding: 5px;
        line-height: 30px;
        color: #370;
        font-family: 'Microsoft YaHei';
    }

    div.index-cat div.line {
        clear: both;
        height: 3px;
        background-color: #eee;
    }

        div.index-cat div.line div.in {
            background-color: #370;
            height: 100%;
            width: 160px;
        }

    div.index-cat div.panel {
        overflow: hidden;
        _zoom: 1;
        padding-top: 16px;
    }

    div.index-cat a.a {
        display: block;
        float: left;
        width: 368px;
        height: 368px;
        margin-bottom: 22px;
        border: solid 1px #eee;
        position: relative;
        overflow: hidden;
        _zoom: 1;
    }

        div.index-cat a.a p.i, div.index-cat a.b p.i {
            display: block;
            width: 100%;
            overflow: hidden;
            _zoom: 1;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            padding: 2px 0px;
            margin: 0px;
            line-height: 18px;
            font-size: 12px;
        }

            div.index-cat a.a p.i span.t, div.index-cat a.b p.i span.t {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                clear: both;
                padding: 0px 5px;
                position: relative;
                z-index: 2;
                color: #000;
            }

    div.index-cat a.hover p.i span.t {
        color: #c33b00;
    }

    div.index-cat a.a p.i span.g, div.index-cat a.b p.i span.g {
        float: left;
        color: #0072ff;
        overflow: hidden;
        _zoom: 1;
        padding: 0px 5px;
        position: relative;
        z-index: 2;
        white-space: nowrap;
        width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    div.index-cat a.a p.i span.p, div.index-cat a.b p.i span.p {
        float: right;
        color: #c33b00;
        overflow: hidden;
        _zoom: 1;
        padding: 0px 5px;
        position: relative;
        z-index: 2;
        text-align: right;
        font-weight: bold;
    }

    div.index-cat a.a p.i span.bg, div.index-cat a.b p.i span.bg {
        position: absolute;
        display: block;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.7;
        filter: alpha(opacity=70)/9;
        z-index: 1;
    }

    div.index-cat a img {
        width: 100%;
        height: 100%;
        margin: 0px;
        border: none;
    }

    div.index-cat div.b {
        float: left;
        width: 756px;
    }

    div.index-cat a.b {
        display: block;
        float: left;
        width: 172px;
        height: 172px;
        margin-bottom: 22px;
        margin-left: 15px;
        border: solid 1px #eee;
        position: relative;
        overflow: hidden;
        _zoom: 1;
    }

div.i-arts {
    float: left;
    _zoom: 1;
    padding: 0px 0px 27px 27px;
}

    div.i-arts div.bar {
        padding: 1px 0px;
        line-height: 26px;
        overflow: hidden;
        _zoom: 1;
    }

        div.i-arts div.bar span.t {
            font-size: 20px;
            font-weight: bold;
            color: #370;
            font-family: 'Microsoft YaHei';
        }

        div.i-arts div.bar a.more {
            float: right;
            font-size: 15px;
        }

    div.i-arts div.sd {
        overflow: hidden;
        _zoom: 1;
        border-top: solid 4px #370;
    }

        div.i-arts div.sd div.nav {
            position: relative;
            z-index: 10;
            float: left;
            overflow: visible;
            width: 200px;
            border-left: solid 1px #370;
        }

            div.i-arts div.sd div.nav a {
                display: block;
                overflow: visible;
                white-space: nowrap;
            }

                div.i-arts div.sd div.nav a span.c {
                    white-space: normal;
                    display: inline-block;
                    _display: inline;
                    _zoom: 1;
                    vertical-align: middle;
                    line-height: 18px;
                    height: 36px;
                    padding: 4px 4px 3px 4px;
                    width: 191px;
                    margin: 0px;
                    border-bottom: solid 1px #370;
                    border-right: solid 1px #370;
                    overflow: hidden;
                }

                div.i-arts div.sd div.nav a span.time {
                    display: inline-block;
                    _display: inline;
                    _zoom: 1;
                    width: 70px;
                    vertical-align: middle;
                }

                div.i-arts div.sd div.nav a span.title {
                    vertical-align: middle;
                    overflow: hidden;
                }

                div.i-arts div.sd div.nav a span.ico {
                    display: inline-block;
                    _display: inline;
                    _zoom: 1;
                    vertical-align: middle;
                    width: 8px;
                    height: 36px;
                    position: relative;
                    left: -1px;
                }

                div.i-arts div.sd div.nav a.current {
                    background-color: #edffe0;
                    color: #370;
                }

                    div.i-arts div.sd div.nav a.current span.ico {
                        background-position: right center;
                        background-image: url('art-slide-head.gif');
                        background-repeat: no-repeat;
                    }

        div.i-arts div.sd div.in {
            float: right;
            position: relative;
            overflow: hidden;
            width: 219px;
            height: 219px;
            border: solid 1px #370;
            border-left: none;
            border-top: none;
        }

            div.i-arts div.sd div.in div.move {
                position: absolute;
                overflow: visible;
                width: 219px;
            }

                div.i-arts div.sd div.in div.move img {
                    width: 219px;
                    height: 219px;
                }
