html, body {
    font-family: Arial, Helvetica, ו, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #f08300;
}

    a:hover {
        color: #ba6600;
    }

div.head {
    height: 30px;
    background-color: #f5f5f5;
    border-bottom: solid 1px #eee;
    margin-bottom: 4px;
    line-height: 30px;
}

    div.head div.in {
        height: 30px;
        line-height: 30px;
        width: 1026px;
        margin: 0px auto;
        overflow: visible;
        _zoom: 1;
    }

        div.head div.in div.left {
            float: left;
            overflow: visible;
            _zoom: 1;
            height: 100%;
        }

        div.head div.in div.right {
            float: right;
            height: 100%;
            overflow: visible;
            _zoom: 1;
        }

div.hr-top {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    _zoom: 1;
    height: 10px;
}
