html, body {
    font-family: Arial, Helvetica, ו, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #4f4f4f;
}

a {
    text-decoration: none;
    color: #4f4f4f;
}

    a:hover {
        color: #ff4400;
    }

div.head {
    height: 30px;
    background-color: #f5f5f5;
    border-bottom: solid 1px #eee;
    margin-bottom: 4px;
    line-height: 30px;
}

    div.head div.in {
        height: 30px;
        line-height: 30px;
        width: 1126px;
        margin: 0px auto;
        overflow: visible;
        _zoom: 1;
    }

        div.head div.in div.left {
            float: left;
            overflow: visible;
            _zoom: 1;
            height: 100%;
        }

        div.head div.in div.right {
            float: right;
            height: 100%;
            overflow: visible;
            _zoom: 1;
        }

        div.head div.in * {
            vertical-align: middle;
        }

        div.head div.in span.vr {
            display: inline-block;
            _display: inline;
            _zoom: 1;
            margin: 0px;
            padding: 8px 8px;
            height: 14px;
            overflow: hidden;
        }

            div.head div.in span.vr span {
                height: 100%;
                display: block;
                _zoom: 1;
                overflow: hidden;
                width: 1px;
                background-color: #969696;
            }

        div.head div.in span.ico {
            background-position: center center;
            display: inline-block;
            _display: inline;
            _zoom: 1;
            overflow: hidden;
            background-repeat: no-repeat;
            height: 20px;
            margin: 5px 5px 5px 0px;
        }

        div.head div.in a.kefu span.ico {
            background-image: url('ico-kefu.png');
            width: 25px;
            _background-image: none;
            _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-kefu.png',sizingMethod='scale');
            vertical-align: middle;
        }

        div.head div.in a.tel span.ico {
            background-image: url('ico-tel.png');
            width: 25px;
            _background-image: none;
            _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-tel.png',sizingMethod='scale');
            vertical-align: middle;
        }

div.head-body {
    width: 1126px;
    margin: 0px auto;
}

    div.head-body div.show {
        height: 102px;
        background-image: url('head-show-1.png');
        background-repeat: no-repeat;
    }

div.hr-top {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    _zoom: 1;
    height: 10px;
}
