html, body {
    font-family: Arial, Helvetica, ËÎÌו, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #4f4f4f;
}

a {
    text-decoration: none;
    color: #4f4f4f;
}

    a:hover {
        color: #f40;
    }

.vm_f {
    width: 0px;
    overflow: hidden;
    display: inline-block;
    _display: inline;
    _zoom: 1;
    height: 100%;
    vertical-align: middle;
}

.vm {
    display: inline-block;
    _display: inline;
    _zoom: 1;
    vertical-align: middle;
}

div.head {
    height: 30px;
    background-color: #f5f5f5;
    border-bottom: solid 1px #eee;
    margin-bottom: 4px;
    line-height: 30px;
}

    div.head div.in {
        height: 30px;
        line-height: 30px;
        width: 1126px;
        margin: 0px auto;
        overflow: visible;
        _zoom: 1;
    }

        div.head div.in div.left {
            float: left;
            overflow: visible;
            _zoom: 1;
            height: 100%;
        }

        div.head div.in div.right {
            float: right;
            height: 100%;
            overflow: visible;
            _zoom: 1;
        }

        div.head div.in * {
            vertical-align: middle;
        }

        div.head div.in span.vr {
            display: inline-block;
            _display: inline;
            _zoom: 1;
            margin: 0px;
            padding: 8px 8px;
            height: 14px;
            overflow: hidden;
        }

            div.head div.in span.vr span {
                height: 100%;
                display: block;
                _zoom: 1;
                overflow: hidden;
                width: 1px;
                background-color: #969696;
            }

        div.head div.in span.ico {
            background-position: center center;
            display: inline-block;
            _display: inline;
            _zoom: 1;
            overflow: hidden;
            background-repeat: no-repeat;
            height: 20px;
            margin: 5px 5px 5px 0px;
        }

        div.head div.in a.kefu span.ico {
            background-image: url('ico-kefu.png');
            width: 25px;
            _background-image: none;
            _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-kefu.png',sizingMethod='scale');
            vertical-align: middle;
        }

        div.head div.in a.tel span.ico {
            background-image: url('ico-tel.png');
            width: 25px;
            _background-image: none;
            _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-tel.png',sizingMethod='scale');
            vertical-align: middle;
        }

div.head-body {
    width: 1126px;
    margin: 0px auto;
    _zoom: 1;
    overflow: visible;
}

    div.head-body div.show {
        height: 102px;
        background-image: url('head-show-1.png');
        background-repeat: no-repeat;
    }

    div.head-body div.tool {
        background-position: 10px 38px;
        overflow: visible;
        _zoom: 1;
        background-image: url('logo.gif');
        background-repeat: no-repeat;
        height: 154px;
        position: relative;
    }

        div.head-body div.tool div.search {
            float: left;
            _zoom: 1;
            overflow: visible;
            position: absolute;
            left: 350px;
            top: 46px;
        }

            div.head-body div.tool div.search div.form {
                height: 34px;
                border: solid 2px #e53d00;
                overflow: visible;
                width: 400px;
                padding-left: 60px;
            }

                div.head-body div.tool div.search div.form div.select {
                    width: 58px;
                    height: 32px;
                    background-color: #fff;
                    border: solid 1px #f6f6f6;
                    border-right-color: #e5e5e5;
                    overflow: hidden;
                    _zoom: 1;
                    float: left;
                    position: absolute;
                    left: 2px;
                    top: 2px;
                }

                    div.head-body div.tool div.search div.form div.select.hover {
                        border-color: #e5e5e5;
                    }

                    div.head-body div.tool div.search div.form div.select a {
                        display: block;
                        _zoom: 1;
                        width: 100%;
                        line-height: 32px;
                        text-align: center;
                        background-color: #fff;
                        cursor: default;
                    }

                        div.head-body div.tool div.search div.form div.select a:hover {
                            background-color: #f6f6f6;
                        }

                        div.head-body div.tool div.search div.form div.select a.current {
                            background-position: 47px center;
                            overflow: hidden;
                            background-color: #f6f6f6;
                            background-image: url('slide-down.gif');
                            background-repeat: no-repeat;
                        }

                    div.head-body div.tool div.search div.form div.select.hover a.current {
                        background-image: url('slide-up.gif');
                    }

                div.head-body div.tool div.search div.form input.keywords {
                    float: left;
                    background: none;
                    background-color: #fff;
                    border: none;
                    padding: 0px;
                    margin: 0px;
                    height: 34px;
                    width: 340px;
                    vertical-align: middle;
                    line-height: 34px;
                }

                    div.head-body div.tool div.search div.form input.keywords:focus {
                        outline: none;
                    }

                div.head-body div.tool div.search div.form button {
                    background: none;
                    background-color: #e53d00;
                    border: none;
                    line-height: 34px;
                    height: 34px;
                    text-align: center;
                    color: #fff;
                    margin: 0px;
                    vertical-align: middle;
                    width: 60px;
                    float: left;
                    font-size: 16px;
                    font-family: 'Microsoft YaHei',SimSun;
                    cursor: pointer;
                }

                    div.head-body div.tool div.search div.form button:hover {
                        background-color: #b63100;
                    }

            div.head-body div.tool div.search div.hot {
                line-height: 26px;
                overflow: hidden;
                clear: both;
            }

                div.head-body div.tool div.search div.hot a {
                    padding-right: 5px;
                }

        div.head-body div.tool div.right {
            position: absolute;
            overflow: visible;
            right: 0px;
            top: 50px;
            _zoom: 1;
        }

            div.head-body div.tool div.right div.info {
                position: relative;
                float: left;
                overflow: visible;
                _zoom: 1;
            }

                div.head-body div.tool div.right div.info div.tab {
                    background-image: url('head-info-btn.png');
                    background-repeat: no-repeat;
                    background-position: left top;
                    _zoom: 1;
                    overflow: hidden;
                    height: 28px;
                    width: 128px;
                    margin-left: 10px;
                }

                    div.head-body div.tool div.right div.info div.tab a {
                        display: block;
                        _zoom: 1;
                        overflow: hidden;
                        height: 16px;
                        line-height: 16px;
                        margin: 6px 1px;
                        color: #fff;
                        text-align: center;
                        position: relative;
                        z-index: 2;
                    }

                        div.head-body div.tool div.right div.info div.tab a * {
                            vertical-align: middle;
                        }

                        div.head-body div.tool div.right div.info div.tab a span.ico {
                            background-position: center center;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            left: 7px;
                            top: 0px;
                        }

                div.head-body div.tool div.right div.info.user div.tab a span.ico {
                    background-image: url('ico-user-info.png');
                    background-repeat: no-repeat;
                    _background-image: none;
                    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-user-info.png',sizingMethod='scale');
                }

                div.head-body div.tool div.right div.info.buy-cart div.tab a span.ico {
                    background-image: url('ico-buy-car.png');
                    background-repeat: no-repeat;
                    _background-image: none;
                    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-buy-car.png',sizingMethod='scale');
                }

                div.head-body div.tool div.right div.info div.content {
                    position: absolute;
                    z-index: 1;
                    border: solid 1px #7d7d7d;
                    right: 0px;
                    top: 22px;
                    width: 260px;
                    display: none;
                    background-color: #fff;
                    padding: 5px;
                }

                div.head-body div.tool div.right div.info div.tab.login {
                    background-image: url('head-info-login.png');
                }

                div.head-body div.tool div.right div.info div.tab.active {
                    background-image: url('head-info-tab.png');
                }

                    div.head-body div.tool div.right div.info div.tab.active a {
                        color: #7d7d7d;
                        margin-bottom: 5px;
                        border-bottom: solid 1px #fff;
                    }

                div.head-body div.tool div.right div.info.user div.tab.active a span.ico {
                    background-image: url('ico-user-info-active.png');
                    background-repeat: no-repeat;
                    _background-image: none;
                    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-user-info-active.png',sizingMethod='scale');
                }

                div.head-body div.tool div.right div.info.buy-cart div.tab.active a span.ico {
                    background-image: url('ico-buy-car-active.png');
                    background-repeat: no-repeat;
                    _background-image: none;
                    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-buy-car-active.png',sizingMethod='scale');
                }

                div.head-body div.tool div.right div.info div.content div.first-line {
                    border-bottom: solid 1px #4f4f4f;
                    overflow: hidden;
                    _zoom: 1;
                    line-height: 30px;
                }

                    div.head-body div.tool div.right div.info div.content div.first-line a {
                        display: block;
                        float: right;
                        line-height: 30px;
                        padding: 0px 5px;
                    }

                div.head-body div.tool div.right div.info div.content div.links {
                }

                    div.head-body div.tool div.right div.info div.content div.links a {
                        display: inline-block;
                        _display: inline;
                        _zoom: 1;
                        width: 115px;
                        height: 26px;
                        line-height: 26px;
                        vertical-align: middle;
                        text-align: left;
                        padding-left: 5px;
                        margin-left: 5px;
                        border-bottom: dotted 1px #d5d5d5;
                    }

    div.head-body div.nav {
        position: relative;
        overflow: visible;
        _zoom: 1;
        padding-left: 230px;
        z-index: 100;
    }

        div.head-body div.nav div.navc {
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: #f8f8f8;
            border: solid 1px #370;
            width: 220px;
            height: 40px;
            overflow: hidden;
            z-index: 110;
        }

            div.head-body div.nav div.navc div.title {
                font-size: 15px;
                font-family: 'Microsoft YaHei';
                color: #fff;
                text-align: center;
                background-color: #370;
                cursor: default;
            }

                div.head-body div.nav div.navc div.title span {
                    display: inline-block;
                    _display: inline;
                    _zoom: 1;
                    overflow: hidden;
                    vertical-align: middle;
                }

                    div.head-body div.nav div.navc div.title span.ico {
                        background-position: center center;
                        width: 18px;
                        height: 18px;
                        margin: 11px 5px 11px 0px;
                        background-image: url('ico-cat-title.png');
                        background-repeat: no-repeat;
                    }



            div.head-body div.nav div.navc div.i {
                position: relative;
                overflow: visible;
                z-index: 120;
            }

            div.head-body div.nav div.navc div.link {
                cursor: default;
                border-bottom: solid 1px #eee;
                border-top: solid 1px #fff;
            }

                div.head-body div.nav div.navc div.link.open {
                    width: 221px;
                    background-color: #fff;
                    border-top: solid 1px #370;
                    border-bottom: solid 1px #370;
                    position: relative;
                    z-index: 130;
                }

                div.head-body div.nav div.navc div.link a {
                    background-position: 180px center;
                    display: block;
                    _zoom: 1;
                    cursor: pointer;
                    line-height: 34px;
                    font-size: 14px;
                    color: #444;
                    padding-left: 16px;
                    background-image: url('slide-right.gif');
                    background-repeat: no-repeat;
                    font-family: 'Microsoft YaHei';
                }

                    div.head-body div.nav div.navc div.link a span {
                        vertical-align: middle;
                    }

                        div.head-body div.nav div.navc div.link a span.ico {
                            background-position: center center;
                            display: inline-block;
                            _display: inline;
                            _zoom: 1;
                            overflow: hidden;
                            width: 18px;
                            height: 18px;
                            margin: 8px;
                            background-repeat: no-repeat;
                        }

                            div.head-body div.nav div.navc div.link a span.ico.cat12 {
                                background-image: url('ico-cat-12.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-12.png',sizingMethod='scale');
                            }

                            div.head-body div.nav div.navc div.link a span.ico.cat16 {
                                background-image: url('ico-cat-16.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-16.png',sizingMethod='scale');
                            }

                            div.head-body div.nav div.navc div.link a span.ico.cat6 {
                                background-image: url('ico-cat-6.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-6.png',sizingMethod='scale');
                            }

                            div.head-body div.nav div.navc div.link a span.ico.cat45 {
                                background-image: url('ico-cat-45.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-45.png',sizingMethod='scale');
                            }

                            div.head-body div.nav div.navc div.link a span.ico.cat47 {
                                background-image: url('ico-cat-47.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-47.png',sizingMethod='scale');
                            }

                            div.head-body div.nav div.navc div.link a span.ico.cat63 {
                                background-image: url('ico-cat-63.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-63.png',sizingMethod='scale');
                            }

                            div.head-body div.nav div.navc div.link a span.ico.cat64 {
                                background-image: url('ico-cat-64.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-64.png',sizingMethod='scale');
                            }

                            div.head-body div.nav div.navc div.link a span.ico.cat78 {
                                background-image: url('ico-cat-78.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-78.png',sizingMethod='scale');
                            }

                            div.head-body div.nav div.navc div.link a span.ico.cat80 {
                                background-image: url('ico-cat-80.png');
                                _background: none;
                                _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/68ecshop_moban_fense/style/ico-cat-80.png',sizingMethod='scale');
                            }

                    div.head-body div.nav div.navc div.link a:hover {
                        color: #f40;
                        text-decoration: underline;
                    }

            div.head-body div.nav div.navc div.panel {
                display: none;
                position: absolute;
                left: 220px;
                top: 0px;
                background-color: #fff;
                border: solid 1px #370;
                width: 300px;
                padding: 0px 10px 10px 0px;
                z-index: 125;
            }

                div.head-body div.nav div.navc div.panel a {
                    display: inline-block;
                    _display: inline;
                    _zoom: 1;
                    margin: 10px 0px 0px 10px;
                    line-height: 24px;
                }

        div.head-body div.nav div.bar {
            background-color: #370;
            height: 42px;
            padding: 0px 10px;
        }

            div.head-body div.nav div.bar div.tab {
                height: 42px;
                background-color: #693;
                line-height: 42px;
            }

                div.head-body div.nav div.bar div.tab a {
                    vertical-align: top;
                    display: inline-block;
                    _display: inline;
                    _zoom: 1;
                    position: relative;
                    font-family: 'Microsoft YaHei';
                    font-size: 14px;
                    cursor: pointer;
                    padding: 0px 30px;
                    color: #fff;
                }

                    div.head-body div.nav div.bar div.tab a.active {
                        color: #ae6;
                        background-color: #8b4;
                    }

                    div.head-body div.nav div.bar div.tab a:hover {
                        background-color: #8b4;
                        color: #fff;
                    }

div.hr-top {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    _zoom: 1;
    height: 2px;
    background-color: #a40014;
    clear: both;
}

div.hr-1 {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    _zoom: 1;
    height: 4px;
    clear: both;
}


div.body {
    width: 1126px;
    margin: 0px auto;
}

    div.body div.col {
        _zoom: 1;
        overflow: visible;
    }

        div.body div.col.left {
            float: left;
            _zoom: 1;
            width: 220px;
        }

        div.body div.col.right {
            float: right;
            width: 896px;
            overflow: hidden;
            height: 1000px;
            background-color: #e4e4e4;
        }
